@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color:#222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color:#465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    border: 1px solid #088178;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header */

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;
    border: 3px ;

}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 80px;
    background: #E3E6F3;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 35px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar .bag i{
    font-size: 20px;
}
#navbar .user i{
    font-size: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*home page*/
#hero{
    background-image: url("x-Banner-5.jpeg");
    height: 125vh;
    width: 100%;
    background-size: coverl;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 34px;
    color: beige;
}

#hero h2{
    font-size: 60px;
    line-height: 54px;
    color: ghostwhite;
}

#hero h1 {
    color: bisque;
    font-size: 55px;
}
#hero p{
    font-size: 20px;
    color: gainsboro;
}

#hero button{
    background-image: url("button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #d1a8b1;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

.title-home{
    text-align: center;
    padding-top: 20px;
}

.title-home h1{
    font-size: 53px;
    color: goldenrod;
    padding-top: 30px;
}
.title-home h2{
    font-size: 35px;
    color: chocolate;
    font-weight: 400;
}

.vm{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 80px;
}
.vm a{
    font-size: 20px;
    font-weight: 700;
    color: #045550;

}

/* first banner */
#banner-1{
    padding: 10%;
    text-align: center;
    background-image: url("x-Banner-1.jpg");
    filter: brightness(85%);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
 }
 
 #banner-1 .banner-txt{
     padding-top: 10%;
 }
 
 #banner-1 .banner-txt .brighter-text h2{
     font-size: 68px;
     color: darkslateblue;
     -webkit-text-stroke: 1.5px #000000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 #banner-1 .banner-txt .brighter-text h1{
     font-size: 88px;
     padding-top: 35px;
     color: darkolivegreen;
     -webkit-text-stroke: 1.5px #000000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 #banner-1 .banner-txt .brighter-text h4{
     padding-bottom: 10px;
     font-size: 40px;
     color: darkslateblue;
     -webkit-text-stroke: 1.5px #000000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 #banner-1 .banner-txt .brighter-text span{
     color: rgb(136, 20, 20);
 }
 
 
 #banner-1 .btn-bnr {
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    background-color: black;
    border-radius: 35px;
    color: #eae1e1;
    transition: 0.5s ease;
    border: 3px solid #E3E6F3;
}
 #banner-1 .btn-bnr:hover{
     background-color: #ffffff;
     border: 3px solid #000;
     color: #000;
     -webkit-text-stroke: 0px #000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 
 .brighter-text{
     filter: brightness(400%);
 }
 
 #banner-1 h1{
     font-size: 50px;
 }

/* product section */

#product1{
    text-align: center;
}

#product1 .product{
    width: 23%;
    min-width: 300px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.677);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.386);
}

#product1 .product img{
    width: 100%;
    border-radius: 20px;
}

#product1 .product .description{
    text-align: start;
    padding: 10px 0;
}
#product1 .product .description span{
    color: #505a15;
    font-size: 12px;
}
#product1 .product .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .product .description i{
    font-size: 15px;
    color: rgba(243,181,25);
}
#product1 .product .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    padding-left: 0;
}
#product1 .product .cart {
    /* width: 40px; */
    /* height: 40px; */
    /* line-height: 40px; */
    border-radius: 50px;
    border: 1px solid #cce7d1;
    background-color: #cceed1;
    color: #088178;
    /* position: absolute; */
    bottom: 20px;
    right: 10px;
    margin: 0;
}
#product1 h2{
    color: goldenrod;
}
#product1 p{
    color: chocolate;
}

/* small banner */
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    background-image:url("x-Banner-4.jpeg");
    min-width: 655px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-top: 125px;
    padding-left: 15px;
}

#sm-banner .banner-box2{
    background-image: url("x-Banner-2.jpeg");
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4{
    color: chocolate;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: brown;
    font-size: 25px;
    font-weight: 800;
}
#sm-banner span{
    color: azure;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
    cursor: pointer;
}

#product1 h4{
    color: #161414;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 18px;
    font-size: 23px;
}


.gallery-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    gap: 30px;
    scrollbar-color: #7b7575 #f0f0f0;
    scroll-behavior: smooth;
    border: 1px solid whitesmoke;
}

.image-card {
    flex: 0 0 auto;
}

.image-card img a{
    width: 100%;
    display: block;
}

.image-card p {
    text-align: center;
}

.slider-wrapper{
    position: relative;
    width: 100%;
    margin: auto;
}
.slide-button{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: -30px;
    color: rgb(0, 0, 0);
    background: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 50%;
    border: 1px solid;
    outline: none;
    top: 50%;
}

#prev-slide{
    left: -40px;
    display: none;
}
#next-slide{
    right: -40px;
}


#product1 .image-card .shoe{
    width: 400px;
    height: auto;
}
#product1 .image-card .shoe-1{
    width: 400px;
    height: auto;

}

.zoom-effect{
    overflow: hidden;
}

.zoom-effect img{
    width: 100%;
    transition: transform 0.7s ease;
}

.zoom-effect:hover img{
    transform: scale(1.1);
}

#product1 .image-card h3{
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #282c2a;
}
#product1 .image-card h2{
    font-size: 17px;
    padding-bottom: 0%;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
#product1 .image-card h2:hover{
    color: #44544d;
}
#product1 img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#product1{
    padding-top: 0;
    padding-bottom: 0;
}


.font h4 {
    padding-top: 30px !important;
    font-size: 42px !important;
    text-align: center;
    color: darkgoldenrod;
    margin: 0;
    padding: 0;
}


/* footer section */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #312f2f;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 10px;
    color: #fff;
}
.af-effect::after{
    content: '';
    background: red;
    
}

footer p{
    font-size: 15px;
    color: #fff;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
}

footer .follow{
    margin-top: 20px;
}
footer .icon{
    cursor: pointer;
}
.icon a{
    padding: 15px;
    padding-left: 0%;
    font-size: 25px;
}

.col-install .row{
    cursor: pointer;
    padding: 10px;
}

.copyright{
    padding-top: 20px;
    padding-left: 0%;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #fff;
    padding-right: 4px;
}

footer .col-install .row img{
    border: 0.5px solid;
    border-radius: 10px;
    padding-left: 0%;
}
footer .col-install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#page-header{
    background-image: url("b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: white;
}

/* pagination section */

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* product details section */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-img{
    width: 35%;
    margin-right: 50px;
}

.small-img-grp{
    display: flex;
    justify-content: space-between;
}

.small-img-col,
.small-img-grp{
    cursor: pointer;
    gap: 7px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h1{
    font-size: 30px;
    padding: 10px 0 5px 0;
    font-weight: 700;
}

#prodetails .single-pro-details h2{
    font-size: 25px;
}

#prodetails .single-pro-details h5{
    color: green;
    font-size: 15px;
    padding: 0 0 10px 0;
    font-weight: 700;
}
#prodetails .single-pro-details p{
    padding-bottom: 20px;
}

#prodetails .single-pro-details h6{
    font-size: 15px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;    
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}
#prodetails .single-pro-details button:hover{
    background-color: #04413d;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* blog page */

#pg-header{
    background-image: url("b19.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#pg-header h2{
    font-size: 65px;
    color: #fff;
}
#pg-header p{
    color: #000;
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    margin-right: 0%;
}
#blog .blog-details p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
}
#blog .blog-details a::after{
    content:"";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
    transition: 0.3s ease;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #465b52;
    z-index: -9;
}

/* about page */
#pg-header-2{
    background-image: url("banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#pg-header-2 h2{
    color: white;
}
#pg-header-2 p{
    color: white;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* contact page */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 12px;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span{
    font-size: 12px;
}
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: white;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* cart page */

.cart {
    margin: 20px;
    padding: 20px;
    border: 2px solid #d5cbcb94;
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    border: 0.5px solid #d5cbcb94;
    text-align: left;
}
#cart-items{
    font-size: 13px;
}

td input{
    border: 0.5px solid #b7bfb6;
}
td button{
    height: 40px;
    width: 80px;
    box-shadow: none;
    border: none;
    font-weight: 600;
    background: rgb(200, 47, 47);
    color: #fff;
    cursor: pointer;
}
td button:hover{
    background: rgb(138, 25, 25);
}


button .checkout {
    
    border: none;
    cursor: pointer;
}

.cart-totals{
    padding-top: 5%;

}
.cart-totals{
    width: 33%;
    margin-bottom: 10px;
    border: 0.5px solid #b7bfb6;
    padding: 20px;
}
.cart-totals table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.cart-totals table td{
    width: 50%;
    border: 0.5px solid #b7bfb6;
    padding: 10px;
    font-size: 13px;
}

.cart-totals table td p{
    color: green;
}

button:hover {
    background-color: #088178;
    color: #fff;
}

.quantity_box .qty_box{
    height: 30px;
    width: 70px;
}
.quantity_box input{
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 7px;
}

.user-name{
    display: flex;
    justify-content: space-between;
}
.user-name .name h1{
    padding-left: 15px;
    font-size: 30px;
}
.user-name .name span{
    color: #088178;
}
.user-name .logout{
    padding-top: 10px;
    padding-right: 15px;
}
.user-name button{
    border: 1px solid rgb(201, 40, 40);
}
.user-name a{
    text-decoration: none;
}
.user-name button:hover{
    background-color: rgb(201, 40, 40);
    color: White;
    font-weight: 700;
}
#user-manage{
    padding-top: 40px;
}
#user-manage .links{
    cursor: pointer;
}
#user-manage .links h1{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding-left: 15px;
    color: black;
    
}
#user-manage .links h1:hover{
    color: #088178;
}
#user-manage .links{
    border: 1px solid rgb(239, 238, 238);
    padding-top: 10px;
}
#user-manage .links:hover{
    background-color: whitesmoke;
    
}

.container{
    margin: 0 auto;
    padding-bottom: 5rem;
    height: 90vh;
}
.heading{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 0 2rem;
    color: #088178;
}
.add-form{
    padding: 2rem;
}
.add_product,
.update_product{
    max-width: 450px;
    background-color: transparent;
    border-radius: 0.5rem;
    padding: 30px;
    margin: auto;
    border: 1px solid;
}
.add_product label,
.update_product label{
    font-size: 15px;
    font-weight: 700;
}
.add_product .input_fields,
.update_product .input_fields{
    padding: 5px;
    font-size: 15px;
    color: black;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}
.submit_btn,
.edit_btn,
.cancel_btn{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    border: 1px solid #088178;
}
.submit_btn:hover,
.edit_btn:hover{
    background-color: #088178;
    color: white;
    font-weight: 600;
}
.cancel_btn{
    color: white;
}
.cancel_btn:hover{
    background-color: white;
    color: red;
}
.cancel_btn{
    background-color: rgb(215, 36, 36);
    margin: 20px auto;
}
.display_message{
    background-color: #088178;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
}
.display_message span{
    font-size: 15px;
}
.display_message i:hover{
    color: rgb(210, 47, 47);
}

.display_product table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.display_product table thead th{
    padding: 1.5rem;
    font-size: 15px;
    background-color: #129b92;
    color: white;
    font-weight: 700;
    border: 2px solid whitesmoke;
}
.display_product table td{
    border: 2px solid rgb(233, 228, 228);
}
.empty_text{
    background-color: #088178;
    padding: 2.5rem 2rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.delete_product_btn,
.update_product_btn{
    text-align: center;
    color: rgb(208, 38, 38);
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
}
.update_product_btn{
    color: #045550;
}

.pro-img{
    width: 15%;
    margin:0 auto;
    border-radius: 10px;
}
.pro-img-1{
    width: 33%;
    margin: 25px 127px;
    border-radius: 10px;
}

.pro-container-1{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 80px;
    flex-wrap: wrap;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.view-d{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: white;
    background-color: #000;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    border: 1px solid #088178;
}
.view-d:hover{
    background: white;
    color: #000;
}
a{
    text-decoration: none;
}
.cart-totals a{
    color: #000;
}
.cart-totals a:hover{
    color: white;
}

.privacy{
    text-align: center;
    font-size: 35px;
    color: #222;
}
.date{
    font-size: 20px;
    text-align: right;
    text-decoration: underline;
}

.normal-heading{
    font-size: 30px;
}
.listing li{
    padding-top: 10px;
}
.info{
    padding-top: 20px;
}


#product1 .order .description .one{
    text-align: center;
    font-size: 15px;
}

.img-5{
    width: 70% !important;
    border-radius: 10px;
}
#custom-details .custom-det{
    border: 1px solid #aaa;
    border-radius: 10px;
}
.custom-det .address{
    padding: 20px 20px 20px 25px;
}
.custom-det .price{
    padding-left: 25px;
    padding-bottom: 10px;
}

#product1 .order{
    width: 23%;
    min-width: 300px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.deli-date{
    border: 1px solid #aaa;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}

.deli-date .chck{
    padding-bottom: 10px;
}

.newbtn{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    border: 1px solid #088178;
}

#paypros {
    padding: 10px;
    cursor: pointer;
    border: 1px solid;
    margin-left: 45%;
    margin-bottom: 5%;
}

#payment-methods{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paycard{
    display: flex;
    width: 70%;
    border-radius: 7px;
    border: 1px solid #ccc;
}

.left{
    width: 30%;
    font-weight: bold;
}

.left p{
    padding: 30px 20px;
}
.methods{
    padding: 10px 0;
}
.methods div{
    padding: 7px 20px;
    cursor: pointer;
    font-size: 15px;
}
.methods div:hover{
    box-shadow: 0 0 10px rgba(172, 255, 47, 0.196);
}
.methods div::after{
    content: '';
    display: inline-block;
    color: green;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-left-color: var(--fondy-success);
    margin-left: 10px;
}
.fa-solid{
    margin-right: 10px;
    font-size: 22px;
    color: #aaa;
}

.center{
    width: 70%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.center a{
    width: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-details{
    padding: 10px 40px 30px;
}
.card-details .c-number{
    width: 50%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 12px;
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input{
    border: none;
    border-radius: 3px;
    outline: none;
}
.c-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}
.cc-exp{
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 50px;
    margin-top: 10px;
    padding: 12px;
    width: 150%;
}
.c-details .cvv-box{
    border: 1px solid #aaa;
    margin-top: 10px;
    padding: 12px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cc-cvv{
    width: 60px;
}
.email input{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 12px;
    height: 50px;
    margin-top: 10px;
}
.paypay{
    margin-left: 23%;
    width: 50%;
    border: 1px solid;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 18px;
    color: #222;
    cursor: pointer;
}


