@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color:#222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color:#465b52;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header */

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30%;
    border: 3px ;

}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 80px;
    background: #E3E6F3;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 35px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar .bag i{
    font-size: 20px;
}
#navbar .user i{
    font-size: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

/*home page*/
#hero{
    background-image: url("x-Banner-5.jpeg");
    height: 125vh;
    width: 100%;
    background-size: coverl;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 34px;
    color: beige;
}

#hero h2{
    font-size: 60px;
    line-height: 54px;
    color: ghostwhite;
}

#hero h1 {
    color: bisque;
    font-size: 55px;
}
#hero p{
    font-size: 20px;
    color: gainsboro;
}

#hero button{
    background-image: url("button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #d1a8b1;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

.title-home{
    text-align: center;
    padding-top: 20px;
}

.title-home h1{
    font-size: 53px;
    color: goldenrod;
    padding-top: 30px;
}
.title-home h2{
    font-size: 35px;
    color: chocolate;
    font-weight: 400;
}

/* first banner */
#banner-1{
    padding: 10%;
    text-align: center;
    background-image: url("x-Banner-3.jpg");
    filter: brightness(85%);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
 }
 
 #banner-1 .banner-txt{
     padding-top: 10%;
 }
 
 #banner-1 .banner-txt .brighter-text h2{
     font-size: 68px;
     color: darkslateblue;
     -webkit-text-stroke: 1.5px #000000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 #banner-1 .banner-txt .brighter-text h1{
     font-size: 88px;
     padding-top: 35px;
     color: darkslateblue;
     -webkit-text-stroke: 1.5px #000000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 #banner-1 .banner-txt .brighter-text h4{
     padding-bottom: 10px;
     font-size: 40px;
     color: darkslateblue;
     -webkit-text-stroke: 1.5px #000000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 #banner-1 .banner-txt .brighter-text span{
     color: rgb(136, 20, 20);
 }
 
 
 #banner-1 .btn-bnr {
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    background-color: black;
    border-radius: 35px;
    color: #eae1e1;
    transition: 0.5s ease;
    border: 3px solid #E3E6F3;
}
 #banner-1 .btn-bnr:hover{
     background-color: #ffffff;
     border: 3px solid #000;
     color: #000;
     -webkit-text-stroke: 0px #000;
     text-shadow: -1px -1px 0 #000
                   1px -1px 0 #000
                  -1px 1px 0 #000
                   1px 1px 0 #000;
 }
 
 .brighter-text{
     filter: brightness(400%);
 }
 
 #banner-1 h1{
     font-size: 50px;
 }

/* product section */

#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.677);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.386);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .description{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .description span{
    color: #505a15;
    font-size: 12px;
}
#product1 .pro .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .description i{
    font-size: 15px;
    color: rgba(243,181,25);
}
#product1 .pro .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart {
    /* width: 40px; */
    /* height: 40px; */
    /* line-height: 40px; */
    border-radius: 50px;
    border: 1px solid #cce7d1;
    background-color: #cceed1;
    color: #088178;
    /* position: absolute; */
    bottom: 20px;
    right: 10px;
    margin: 0;
}
#product1 h2{
    color: goldenrod;
}
#product1 p{
    color: chocolate;
}

/* small banner */
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    background-image:url("x-Banner-4.jpeg");
    min-width: 655px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding-top: 125px;
    padding-left: 15px;
}

#sm-banner .banner-box2{
    background-image: url("x-Banner-2.jpeg");
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner h4{
    color: #000000;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #000000;
    font-size: 25px;
    font-weight: 800;
}
#sm-banner span{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
    cursor: pointer;
}

/* newsletter section */

#newsletters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletters h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}
#newsletters p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletters p span{
    color: yellow;
}
#newsletters .form{
    display: flex;
    width: 40%;
    padding-top: 10px;
}
#newsletters .normal{
    width: 100px;
}

#newsletters input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
}

#newsletters button{
   background-color: #088178;
   color: #fff;
   white-space: no-wrap;
   padding: 0;
   width: 50px;
   height: 50px;
   transition: 0.2s ease;

}
#newsletters button:hover{
    background: #045550;
}

/* footer section */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 10px;
}

footer p{
    font-size: 15px;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 15px;
}

footer .follow{
    margin-top: 20px;
}
footer .icon{
    cursor: pointer;
}
.icon a{
    padding: 15px;
    padding-left: 0%;
    font-size: 25px;
}

.col-install .row{
    cursor: pointer;
    padding: 10px;
}

.copyright{
    padding-top: 20px;
    padding-left: 0%;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
}

footer .col-install .row img{
    border: 0.5px solid;
    border-radius: 10px;
    padding-left: 0%;
}
footer .col-install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#page-header{
    background-image: url("b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: white;
}

/* pagination section */

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* product details section */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-img{
    width: 35%;
    margin-right: 50px;
}

.small-img-grp{
    display: flex;
    justify-content: space-between;
}

.small-img-col,
.small-img-grp{
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h1{
    font-size: 20px;
    padding: 10px 0 5px 0;
    font-weight: 500;
}

#prodetails .single-pro-details h2{
    font-size: 25px;
}

#prodetails .single-pro-details h5{
    color: green;
    font-size: 15px;
    padding: 0 0 10px 0;
    font-weight: 700;
}

#prodetails .single-pro-details h6{
    font-size: 15px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;    
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
}
#prodetails .single-pro-details button:hover{
    background-color: #04413d;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* blog page */

#pg-header{
    background-image: url("b19.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#pg-header h2{
    font-size: 65px;
    color: #fff;
}
#pg-header p{
    color: #000;
}

#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
    margin-right: 0%;
}
#blog .blog-details p{
    margin-top: 20px;
    margin-bottom: 20px;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
}
#blog .blog-details a::after{
    content:"";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
    transition: 0.3s ease;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #465b52;
    z-index: -9;
}

/* about page */
#pg-header-2{
    background-image: url("banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#pg-header-2 h2{
    color: white;
}
#pg-header-2 p{
    color: white;
}
#about-head img{
    width: 50%;
    height: auto;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* contact page */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span{
    font-size: 12px;
}
#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span{
    font-size: 12px;
}
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: white;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* cart page */

.cart {
    margin: 20px;
    padding: 20px;
    border: 0.5px solid #d5cbcb94;
    max-height: 400px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 0.5px solid #d5cbcb94;
    text-align: left;
}
#cart-items{
    font-size: 13px;
}

td input{
    border: 0.5px solid #b7bfb6;
}
td button{
    height: 28px;
    width: 70px;
    box-shadow: none;
    border: none;
    font-weight: 600;
    background: rgb(200, 47, 47);
    color: #fff;
    cursor: pointer;
}
td button:hover{
    background: rgb(138, 25, 25);
}


button .checkout {
    
    border: none;
    cursor: pointer;
}

.cart-totals{
    padding-top: 5%;

}
.cart-totals{
    width: 33%;
    margin-bottom: 10px;
    border: 0.5px solid #b7bfb6;
    padding: 20px;
}
.cart-totals table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
.cart-totals table td{
    width: 50%;
    border: 0.5px solid #b7bfb6;
    padding: 10px;
    font-size: 13px;
}

.cart-totals table td p{
    color: green;
}

button:hover {
    background-color: #088178;
    color: #fff;
}

.form-box{
    position: relative;
    width: 100%;
    height: 85%;
    background: transparent;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(50px);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgba(0, 0, 0, 0.738);
    position: relative;
  
  }
  .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:rgba(0, 0, 0, 0.826);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
  }
  input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  
  }
  
  .input-field i{
    margin-left: 15px;
    color: #999;
  }
  
  form p{
    text-align: left;
    font-size: 15px;
  }
  
  form p a{
    text-decoration: none;
    color:#000000d3;
  }
  
  form p a:hover{
    text-decoration: underline;
  }
  
.form-box .btn{
    margin: 20px;
    width: 50%;
    height: 40px;
    background: #088178;
    border: 1px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transform-origin: left;
    transition: .5s;
}

  .btn:hover{
    background-color: #fff;
    color :#088178;
  }
  
  .input-group{
    height: 280px;
  }
  